<div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <header-navbar></header-navbar>
        <acme-navbar></acme-navbar>
    </nav>

    <div id="page-wrapper">
    	<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><i class="fa fa-cog"></i> Configuración del Sensor <strong>{{vm.device.name}}</strong> <small class="pull-right"><a class="settings-link" href="#/devices/{{vm.device.id}}"> <i class="fa fa-chevron-left"></i> Volver al dispositivo </a></small></h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

          <div class="row">
                
                <div class="col-md-12 ">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Configuración del Dispositivo</h3>
                      </div>
                      <div class="panel-body">
                            <form name="formUpdateDevice" novalidate role="form"  class="form-horizontal">

                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Nombre:</label>
                                            <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.name" name="deviceName" readonly="true" type="text"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Tipo de sensor</label>
                                            <div class="col-md-8">
                                                <select class="form-control" name="deviceType" ng-model="vm.device.type">
                                                    <option value="polucion-simple">Chancado y Correas</option>
                                                    <option value="polucion-gps">Caminos</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Ubicacion GPS Latitud</label>
                                            <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.gps.lat" placeholder="Ejemplo: -10.323243232" name="deviceGPSLat" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Ubicacion GPS Longitud</label>
                                            <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.gps.lng" placeholder="Ejemplo: -10.323243232" name="deviceGPSLat" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                           <label class="col-md-4" for="">Modo de lectura</label>
                                            <div class="col-md-8">
                                                <select class="form-control" name="deviceMode" ng-model="vm.device.mode">
                                                    <option value="linea-base" selected="selected">Sin supresor</option>
                                                    <option value="ssp">Con supresor</option>
                                                </select>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Tipo de medición</label>
                                            <div class="col-md-8">
                                                <select class="form-control" name="deviceReadType" ng-model="vm.device.read_type">
                                                    <option value="polvo-total"  selected="selected">Polvo Total</option>
                                                    <option value="pm10">PM10</option>
                                                    <option value="pm2.5">PM2.5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">LLP DS 594</label>
                                           <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.llp_ds" placeholder="" name="deviceLlpDs" type="text"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Tonelaje</label>
                                           <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.tonelaje" placeholder="" name="deviceTonelaje" type="text"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                           <label class="col-md-4" for="">Umbral de Alerta</label>
                                           <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.alert_treadshot" placeholder="" name="deviceUmbralAlerta" type="text"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                           <label class="col-md-4" for="">Auto Supresor</label>
                                           <div class="col-md-8">
                                                <input   ng-model="vm.device.auto_supresor" name="deviceAutoSupresor" type="checkbox" > <span>Activado</span>
                                            </div>
                                        </div>
                                                  
                                       
                                       
                                    </fieldset>
                                    <h3>Otras configuraciones</h3>
                                    <fieldset>

                                    	<div class="form-group">
                                            <label class="col-md-4" for="">Percentil de cálculo inferior</label>
                                           <div class="col-md-8">
                                                <input class="form-control" ng-model="vm.device.percentil_inferior" placeholder="10" name="devicePercentilInferior" type="number" step="1" min="1" max="100"  >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" for="">Percentil de cálculo superior</label>
                                           <div class="col-md-8">
                                                <input placeholder="90" class="form-control" ng-model="vm.device.percentil_superior" placeholder="" name="devicePercentilSuperior" type="number" step="1" min="1" max="100"  >
                                            </div>
                                        </div>

                                    	<div class="form-group">
                                           <label class="col-md-4" for="">Ver detalle de cálculo de mitigacion</label>
                                           <div class="col-md-8">
                                                <input   ng-model="vm.device.show_calculo" name="deviceShowCalculo" type="checkbox" > &nbsp; <span>Activado</span>
                                            </div>
                                        </div>
                                    	<div class="form-group">
                                           <label class="col-md-4" for="">Mostrar tonelaje en gráfico</label>
                                           <div class="col-md-8">
                                                <input ng-model="vm.device.show_tonelaje" name="deviceShowTonelaje" type="checkbox" > &nbsp; <span>Activado</span>
                                            </div>
                                        </div>
                                    	
                                    </fieldset>


                                     <div class="form-group">
                                            <input type="submit" ng-disabled="vm.sendingDeviceForm" ng-click="vm.updateDevice()" class="btn btn-lg btn-success btn-block" value="Actualizar configuración" />
                                        </div>

                                </form>
                      </div>
                    </div>
                </div>


                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Usuarios asociados a este dispositivo</h3>
                  </div>
                  <div class="panel-body">

                     <ul class="list-group">
                      <li class="list-group-item" ng-repeat="user in vm.deviceUsers">
                        <div class="row">
                            <div class="col-md-6">
                                {{user.email}}
                            </div>
                            <div class="col-md-6">
                                <span class="btn btn-xs btn-success" ng-if="user.isDeviceAdmin === true">Es Administrador del dispositivo</span>
                                <a class="btn btn-xs btn-primary" ng-if="user.isDeviceAdmin === false" ng-click="vm.doDeviceAdmin($index)" >Hacer administrador del dispositivo</a>
                                <a class="btn btn-xs btn-danger" ng-if="user.isDeviceAdmin === true && user.id != vm.currentUserId" ng-click="vm.undoDeviceAdmin($index)" >Quitar Administración del dispositivo</a>
                            </div>
                        </div>
                      </li>
                     </ul>
                  </div>
                </div>


            </div>

    </div>

</div>