<sidebar></sidebar>

<section class="content device">
    <header>
        <h1 class="dashboard-title">{{device.name}}</h1>
    </header>
    
    <div class="row">
        <div class="graph-container main">
            <header class="graph-header">
                <h2 class="graph-title">Poluci&oacute;n</h2>
            </header>
            
            <div class="graph-body">
                <div>Last Polution Value:</div>
                <div>{{device.pollution}}</div>
            </div>
        </div>
        <div class="graph-container side">
            <header class="graph-header">
                <h2 class="graph-title">Poluci&oacute;n</h2>
            </header>
            
            <div class="graph-body">
                Graph
            </div>
        </div>
    </div>

    <div class="row">
        <div class="graph-container graph-time">
            <header class="graph-header">
                <h2 class="graph-title">Poluci&oacute;n</h2>
            </header>

            <div class="graph-body">
                <div id="device"></div>
            </div>
        </div>
    </div>
</section>

