<!-- Login -->
<section class="login" ng-controler="LoginControler">
    <div class="login-container">
        <header class="login-header">
            <img class="login-logo" src="" alt="LOGO">
        </header>
        <div>
            <input class="login-input" type="text" placeholder="Correo">
            <input class="login-input" type="password" placeholder="Password">
            <input class="login-checkbox" type="checkbox"><label>Recordarme</label>
            <button class="login-submit" type="submit">Ingresar</button>
        </div>
    </div>
</section>

