<section class="sidebar">
  <header class="sidebar-header">Industrial MSI - {{client.name}}</header>

  <nav class="sidebar-content">
    <ul class="sidebar-list">
      <li><a href="#/app">Dashboard</a></li>

      <!-- DeviceList -->
      <li ng-repeat="device in deviceList">
        <a href="#/device/{{device.id}}">{{device.name}}</a>
      </li>

      <!--<li><a href="#/config">Configuraci&oacute;n</a></li>-->
      <li><a href="javascript:void(0);" ng-click="logout()">Salir</a></li>
    </ul>
  </nav>
</section>

