.login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}

.login-container {
    border: 1px solid #ccc;
    box-sizing: border-box;
    left: 50%;
    margin-top: -160px;
    margin-left: -170px;
    position: absolute;
    top: 50%;
    width: 340px;
}

.login-header {
    background-color: #ddd;
    text-align: center;
}

.login-logo {
    marign: 0 auto;
    padding: 40px 0;
}

.login-input {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: .9em;
    padding: 10px;
    margin: 14px 20px;
    width: 300px;
}

.login-checkbox {
    margin-left: 20px;
    margin-right: 8px;
}

.login-submit {
    background-color: green;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 20px;
    padding: 10px;
    width: 300px;
}

